<header>
  <div class="container">
  <img class="logo" src="/assets/images/logo.jpg" alt="Facebook logo">
  <input type="text" class="searchField form-control" placeholder="Search..">
  </div>
  <nav>
    <ul class="top-navigation">
      <li><fa-icon [icon]="faHouse"></fa-icon></li>
      <li><fa-icon [icon]="faTv"></fa-icon></li>
      <li><fa-icon [icon]="faStore"></fa-icon></li>
      <li><fa-icon [icon]="faUsersLine"></fa-icon></li>
    </ul>
  </nav>
  <fa-icon id="userIcon" [icon]="faUser"></fa-icon>
</header>
