<header class="navigation-header">
  <div class="navigation-left">
    <img alt="Facebook logo" class="logo" routerLink="/" src="/assets/images/logo.jpg">
    <input class="searchField form-control" placeholder="Search.." type="text">
  </div>
  <ul class="navigation-center">
    <li>
      <a>
        <fa-icon [icon]="faHouse" class="top-navigation-icon"></fa-icon>
      </a>
    </li>
    <li>
      <a>
        <fa-icon [icon]="faTv" class="top-navigation-icon"></fa-icon>
      </a>
    </li>
    <li>
      <a>
        <fa-icon [icon]="faStore" class="top-navigation-icon"></fa-icon>
      </a>
    </li>
    <li>
      <a routerLink="/list">
        <fa-icon [icon]="faUsersLine" class="top-navigation-icon"></fa-icon>
      </a>
    </li>
  </ul>
  <a routerLink="/details/{{loggedInUserId}}">
    <fa-icon [icon]="faUser" class="userIcon"></fa-icon>
  </a>
</header>
