$lightBlue: #73a4ee;
$darkBlue: #19487a;
$grey: #8c8787;

.logo{
  height: auto;
  width:auto;
  max-height: 50px;
  max-width: 50px;
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: $lightBlue;
}

.container{
  margin:0;
  width: 20%;
  display: flex;
  align-items: center;

  .searchField{
    margin-left: 5%;

  }
}

li fa-icon {
  color: white;
  font-size: 24px;
}

.top-navigation{
  list-style: none;

  li{
    display: inline-block;
    padding: 0px 20px;

    fa-icon{
      transition: all 0.3s ease 0s;
    }

    fa-icon:hover{
      color: $grey;
    }
  }
}

#userIcon {
  color: $darkBlue;
  font-size: 36px;
  margin-right: 1%;
}

@media screen and (min-width: 200px) and (max-width: 1024px) {
  .searchField { display: none; }
}
