<div class="content shadow">
  <form [formGroup]="form">
    <label for="name">Name:</label>
    <input class="form-control" type="text" id="name" formControlName="name">
    <ng-container *ngIf="form.get('name')?.errors | onlyOneError:['required','pattern','maxlength'] as error">
      <div *ngIf="error?.required && form.get('name')?.touched" class="error">Name is mandatory!</div>
      <div *ngIf="error?.maxlength" class="error">Name is too long (over 20 characters)!</div>
      <div *ngIf="error?.pattern" class="error">Your name should start with a capital letter!</div>
    </ng-container>

    <label for="surname">Surname:</label>
    <input class="form-control" type="text" id="surname" formControlName="surname">
    <ng-container *ngIf="form.get('surname')?.errors | onlyOneError:['required','pattern','maxlength'] as error">
      <div *ngIf="error?.required && form.get('surname')?.touched" class="error">Surname is mandatory!</div>
      <div *ngIf="error?.maxlength" class="error">Surname is too long (over 20 characters)!</div>
      <div *ngIf="error?.pattern" class="error">Your surname should start with a capital letter!</div>
    </ng-container>

    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="gender" id="male" value="Male" formControlName="gender">
      <label class="form-check-label" for="male">Male</label>
    </div>

    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="gender" id="female" value="Female" formControlName="gender">
      <label class="form-check-label" for="female">Female</label>
    </div>

    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="gender" id="other" value="Other" formControlName="gender">
      <label class="form-check-label" for="other">Other</label>
    </div>
    <br>
    <div *ngIf="form.get('gender')?.hasError('required') && form.get('gender')?.touched" class="error">Gender is
      mandatory!
    </div>


    <label for="birthday">Date of birth:</label>
    <input class="form-control" type="date" id="birthday" formControlName="dateOfBirth">
    <ng-container *ngIf="form.get('dateOfBirth')?.errors | onlyOneError:['required','dateValidity'] as error">
      <div *ngIf="error?.required && form.get('dateOfBirth')?.touched" class="error">Date of birth is mandatory!</div>
      <div *ngIf="error?.dateValidity" class="error">You must be at least 18 years old!</div>
    </ng-container>

    <label for="country">Country:</label>
    <select class="form-control" id="country" formControlName="country">
      <option *ngFor="let country of countries" value="{{country.name}}">{{country.name}}</option>
    </select>
    <div *ngIf="form.get('country')?.hasError('required') && form.get('country')?.touched" class="error">Country is
      mandatory!
    </div>


    <label for="city">City:</label>
    <select class="form-control" id="city" formControlName="city">
      <option *ngFor="let city of cities" value="{{city.name}}">{{city.name}}</option>
    </select>
    <div *ngIf="form.get('city')?.hasError('required') && form.get('city')?.touched" class="error">City is mandatory!
    </div>


    <label for="hobbies">Hobbies</label>
    <textarea class="form-control" id="hobbies" rows="3" formControlName="hobbies"></textarea>

    <div class="buttons">
      <button class="btn btn-success" [disabled]="!form.valid" (click)="openPopup()">Save</button>
    </div>
  </form>

  <div class="backdrop" [ngStyle]="{'display': displayStyle}">
    <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h6 class="modal-title">Are you sure you want to edit your profile?</h6>
          </div>
          <div class="modal-body">
            <div class="buttons">
              <button class="btn btn-success" [disabled]="!form.valid" (click)="submit()">Save</button>
              <button class="btn btn-warning" (click)="cancel()">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
