$lightBlue: #73a4ee;
$darkBlue: #19487a;
$grey: #8c8787;

.left-navigation {
  background: #eae8e8;
  text-align: left;

  ul{
    list-style: none;
    li{
      margin-top: 10px;
      margin-bottom: 10px;
      font-family: Arial;
      font-size: 18px;

      fa-icon{
        font-size:24px;
        transition: all 0.3s ease 0s;
      }
      fa-icon:hover{
        color: $darkBlue;
      }
    }
  }
}

@media screen and (min-width: 200px) and (max-width: 1024px) {
  .left-navigation { display: none; }
}
