<div class="content shadow">
  <div class="user-container">
    <img class="userPhoto shadow" src="assets/images/user.png" />
    <button i18n class="btn btn-warning details" routerLink="/details/edit">Edit</button>
  </div>
  <div class="user-details-container">
    <h5 i18n>User details</h5>
    <hr>
    <ul>
      <li i18n>Name: {{loggedInUser.name}}</li>
      <li i18n>Surname: {{loggedInUser.surname}}</li>
      <li i18n>Gender: {{loggedInUser.gender}}</li>
      <li i18n>Date of birth: {{loggedInUser.dateOfBirth | date}}</li>
      <li i18n>Country: {{loggedInUser.country}}</li>
      <li i18n>City: {{loggedInUser.city}}</li>
      <li i18n>Hobbies: {{loggedInUser.hobbies}}</li>
    </ul>
    <h5 i18n>Gallery</h5>
    <hr>
    <div class="photo-grid-container">
      <img src="assets/images/image.jpg" class="photo shadow">
      <img src="assets/images/image.jpg" class="photo shadow">
      <img src="assets/images/image.jpg" class="photo shadow">
    </div>
  </div>
</div>
